
/* -------  App  ------- */

.outerContainer {
  flex-direction: column;
  composes: fullSize flexySpaceBetween from 'styles/_classes.scss';
}

.innerContainer {
  width: 100%;
  flex: 1;
  composes: flexyCentered from 'styles/_classes.scss';
}
